In [71]:
import pandas as pd
import numpy as np
import seaborn as sns

What is the most commonly awarded gender and birth country? Storing the string answers as top_gender and top_country.

In [72]:
data = pd.read_csv('nobel.csv')

In [73]:
data.head()

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
0,1901,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services ...",1/1,160,Individual,Jacobus Henricus van 't Hoff,1852-08-30,Rotterdam,Netherlands,Male,Berlin University,Berlin,Germany,1911-03-01,Berlin,Germany
1,1901,Literature,The Nobel Prize in Literature 1901,"""in special recognition of his poetic composit...",1/1,569,Individual,Sully Prudhomme,1839-03-16,Paris,France,Male,NaN,NaN,NaN,1907-09-07,Châtenay,France
2,1901,Medicine,The Nobel Prize in Physiology or Medicine 1901,"""for his work on serum therapy, especially its...",1/1,293,Individual,Emil Adolf von Behring,1854-03-15,Hansdorf (Lawice),Prussia (Poland),Male,Marburg University,Marburg,Germany,1917-03-31,Marburg,Germany
3,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,462,Individual,Jean Henry Dunant,1828-05-08,Geneva,Switzerland,Male,NaN,NaN,NaN,1910-10-30,Heiden,Switzerland
4,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,463,Individual,Frédéric Passy,1822-05-20,Paris,France,Male,NaN,NaN,NaN,1912-06-12,Paris,France

In [74]:
top_gender= data['sex'].value_counts().idxmax()
top_gender

'Male'

In [75]:
top_country = data.birth_country.value_counts().idxmax()
top_country

'United States of America'

What decade had the highest proportion of US-born winners? Store this as an integer called max_decade_usa.

In [76]:
data['decate'] = (data['year']//10)*10
decate_usa = data[data['birth_country'] == top_country].decate.value_counts()
decate_usa
max_decate_usa = decate_usa.idxmax()
print(max_decate_usa)

2000

What decade and category pair had the highest proportion of female laureates? Store this as a dictionary called max_female_dict where the decade is the key and the category is the value.

In [77]:
data_female = data[data['sex'] == 'Female']
data_female_count = data_female.groupby(['decate','category'], as_index=False).decate.value_counts()
print(data_female_count)
max_female_decade_category = data_female_count[data_female_count['count'] == data_female_count['count'].max()]

    decate    category  count
0     1900  Literature      1
1     1900       Peace      1
2     1900     Physics      1
3     1910   Chemistry      1
4     1920  Literature      2
5     1930   Chemistry      1
6     1930  Literature      1
7     1930       Peace      1
8     1940  Literature      1
9     1940    Medicine      1
10    1940       Peace      1
11    1960   Chemistry      1
12    1960  Literature      1
13    1960     Physics      1
14    1970    Medicine      1
15    1970       Peace      3
16    1980    Medicine      3
17    1980       Peace      1
18    1990  Literature      3
19    1990    Medicine      1
20    1990       Peace      3
21    2000   Chemistry      1
22    2000   Economics      1
23    2000  Literature      3
24    2000    Medicine      4
25    2000       Peace      2
26    2010   Chemistry      1
27    2010   Economics      1
28    2010  Literature      3
29    2010    Medicine      2
30    2010       Peace      5
31    2010     Physics      1
32    2020   Chemistry      3
33    2020   Economics      1
34    2020  Literature      2
35    2020    Medicine      1
36    2020       Peace      2
37    2020     Physics      2

In [78]:
max_female_decade_category

    decate category  count
30    2010    Peace      5

In [79]:
max_female_dict = {max_female_decade_category.decate.values[0]: max_female_decade_category.category.values[0]}
max_female_dict

{2010: 'Peace'}

Who was the first woman to receive a Nobel Prize, and in what category? Save your string answers as first_woman_name and first_woman_category.

In [80]:
first_woman = data_female[data_female['year'] == data_female['year'].min()]

In [81]:
first_woman

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country,decate
19,1903,Physics,The Nobel Prize in Physics 1903,"""in recognition of the extraordinary services ...",1/4,6,Individual,"Marie Curie, née Sklodowska",1867-11-07,Warsaw,Russian Empire (Poland),Female,NaN,NaN,NaN,1934-07-04,Sallanches,France,1900

In [82]:
first_woman_name = first_woman.full_name.values[0]
first_woman_name

'Marie Curie, née Sklodowska'

In [83]:
first_woman_category = first_woman.category.values[0]
first_woman_category

'Physics'

Which individuals or organizations have won multiple Nobel Prizes throughout the years? Store the full names in a list named repeat_list.

In [84]:
counts = data['full_name'].value_counts()
counts

full_name
Comité international de la Croix Rouge (International Committee of the Red Cross)    3
Linus Carl Pauling                                                                   2
John Bardeen                                                                         2
Frederick Sanger                                                                     2
Marie Curie, née Sklodowska                                                          2
                                                                                    ..
Karl Ziegler                                                                         1
Giulio Natta                                                                         1
Giorgos Seferis                                                                      1
Sir John Carew Eccles                                                                1
Claudia Goldin                                                                       1
Name: count, Length: 993, dtype: int64

In [85]:
repeats = counts[counts >=2].index
repeats_list = list(repeats)
repeats_list

['Comité international de la Croix Rouge (International Committee of the Red Cross)',
 'Linus Carl Pauling',
 'John Bardeen',
 'Frederick Sanger',
 'Marie Curie, née Sklodowska',
 'Office of the United Nations High Commissioner for Refugees (UNHCR)']